/* CENTERS AND SIZES BODY CONTAINER SIZING */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    margin: auto;
    width: 55rem;
  }
  
  /* ADDS DISPLAY FLEX TO EMOJI CONTENT FOR COLUMN ALIGNMENT */
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  /* ADDS GRID TO CONTAINER AND SETS COLUMNS & ROWS */
  .emojis {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  /* ADDS DISPLAY FLEX TO H2 */
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
    display: flex;
  }
  
  /* ADDS DISPLAY FLEX TO CONTENT AND PUSHES BUTTONS TO BOTTOM OF CARD WITH FLEX GROW*/
  .emoji p {
    display: flex;
    flex-grow: 2;
  }

  /* ADDS FLEX TO BUTTON AND SIZES IT */
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    display: flex;

  }
  
  /* ADDS FLEX TO ICON, CHANGES ORDER AND CENTERS IT */
  .icon {
    font-size: 4rem;
    order: -1;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;

  }